<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de trabajos</title>
</head>
<body>
<!-- Formulario de búsqueda -->
    <form action="{% url 'buscar_trabajo' %}" method="GET">
        <input type="text" name="q" placeholder="Buscar trabajo por nombre o descripción">
        <button type="submit">Buscar</button>
    </form>
    <h1>Listado de Puestos Trabajos</h1>
    <ul>
        {% for job in jobs %}
            <li>
                <strong>Nombre puesto de trabajo:</strong> {{ job.name }}<br>
                <strong>Descripción:</strong> {{ job.description }}<br>
                <strong>Salario: $</strong> {{ job.salary.amount }}<br><br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
